
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header-text {
  font-size: 2.2rem;
  font-family: 'Raleway', sans-serif;
 
  background: #1f2667;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .home {
    background-color: #debbff;
  }