
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header-text {
  font-size: 2.6rem;
  font-family: 'Raleway', sans-serif;
  line-height:2em;
  background: #1f2667;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }



body {
  background-color: #debbff;
}
