.preview-title {
  margin:0 30px;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  line-height:2rem;
}


.preview-header {
  margin:10px 30px;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}

.preview-text {
  margin:0 30px;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5rem;
}

.preview-subtext
{
  margin:15px 32px;
  font-size: 0.6rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1rem;
}

