* {
  font-size: 19px;
}

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.brand-name {
  font-family: 'Odibee Sans', cursive;
}


.navbar {
  font-size: 40px;
  box-shadow:  5px 5px 10px #4577b4,
  -5px -5px 10px #7bd3ff;
}
